body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0c8ef2;
    color: #333;
    margin: 0;
    padding: 100;
    text-align: center;
}

.columns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    width: 48%; 
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    margin: 20 auto;

}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

select,
input[type="file"],
input[type="submit"] {
    width: 40%;
    padding: 10px;
    margin: 5px 0 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    form {
        width: 20%;
    }
}
